<section class="sidebar-content">
    <img src="https://avatars.dicebear.com/api/human/skkr.svg" alt="photo" width="10%" height="10%">
    <div class="sidebar-content__room">
        <span class="sidebar-content__room__name">Alex</span>
        <span class="sidebar-content__room__last-msg">Good Morning!</span>
    </div>
</section>

<section class="sidebar-content">
    <img src="https://avatars.dicebear.com/api/human/skkrt.svg" alt="photo" width="10%" height="10%">
    <div class="sidebar-content__room">
        <span class="sidebar-content__room__name">Ryan</span>
        <span class="sidebar-content__room__last-msg">Hii</span>
    </div>
</section>

<section class="sidebar-content">
    <img src="https://avatars.dicebear.com/api/human/ajsndjk.svg" alt="photo" width="10%" height="10%">
    <div class="sidebar-content__room">
        <span class="sidebar-content__room__name">Jane</span>
        <span class="sidebar-content__room__last-msg">hello</span>
    </div>
</section>

<section class="sidebar-content">
    <img src="https://avatars.dicebear.com/api/human/ajsjk.svg" alt="photo" width="10%" height="10%">
    <div class="sidebar-content__room">
        <span class="sidebar-content__room__name">Jenny</span>
        <span class="sidebar-content__room__last-msg">hey when's the assignment due?</span>
    </div>
</section>

<section class="sidebar-content">
    <img src="https://avatars.dicebear.com/api/human/sndjk.svg" alt="photo" width="10%" height="10%">
    <div class="sidebar-content__room">
        <span class="sidebar-content__room__name">Steve</span>
        <span class="sidebar-content__room__last-msg">🤩🤩🤩🤩</span>
    </div>
</section>

<section class="sidebar-content">
    <img src="https://avatars.dicebear.com/api/human/adawsjk.svg" alt="photo" width="10%" height="10%">
    <div class="sidebar-content__room">
        <span class="sidebar-content__room__name">Lisa</span>
        <span class="sidebar-content__room__last-msg">heyy</span>
    </div>
</section>

<section class="sidebar-content">
    <img src="https://avatars.dicebear.com/api/human/ioasndn.svg" alt="photo" width="10%" height="10%">
    <div class="sidebar-content__room">
        <span class="sidebar-content__room__name">Rob</span>
        <span class="sidebar-content__room__last-msg">happy birthday!!</span>
    </div>

</section><section class="sidebar-content">
    <img src="https://avatars.dicebear.com/api/human/aaddjk.svg" alt="photo" width="10%" height="10%">
    <div class="sidebar-content__room">
        <span class="sidebar-content__room__name">Chris</span>
        <span class="sidebar-content__room__last-msg">happy new year🤩🤩</span>
    </div>
</section>

<section class="sidebar-content">
    <img src="https://avatars.dicebear.com/api/human/lksndjk.svg" alt="photo" width="10%" height="10%">
    <div class="sidebar-content__room">
        <span class="sidebar-content__room__name">Tom</span>
        <span class="sidebar-content__room__last-msg">😄😄😄</span>
    </div>
</section>